


body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}



 #menu a, button{
     font-size: 18px !important;
     font-weight: 600;
    
 }

 #menu a{
     color:#3f3f3f;
     
 }

.carousel-inner {
    max-height:39rem !important;
}



#img-equipo{
    max-height:30rem !important;
    width:50%;
}


#contenedor-formulario{
    position:absolute;
    top:3%;
    left:30%;

    background: #fbfafa;
    border-radius:5px;
    
}

#titulo-formulario {
    color: #3f3f3f;
}


#contacto{
    min-height:500px;
    position:relative;

.pie {
    background: #1b2a4e;
    min-height: 100px;
}

#pie p{
    text-align:center;
}

#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}
